
<div class="addItemWindowContainer @hideWindow" @onclick="@ChangeShowAddItem">
   <div class="addItemWindow">
      <div class="addItemFormContainer @FormMode" @onclick:stopPropagation="true">
         <form class="addItemForm">
            <label for="type">Item Type :</label>
            <select name="type" @bind="@itemType">
               <option value="anime">Anime</option>
               <option value="figure">Figure</option>
               <option value="manga">Manga</option>
               <option value="videogame">Video Game</option>
            </select>
            <label for="imgPath">ImgPath:</label>
            <input type="text" name="imgPath" @bind="@itemImgPath" />
            <label for="name">Name :</label>
            <input type="text" name="name" @bind="@itemName" />
            @if(itemType=="anime"){
               <label for="mediatype">Media Type :</label>
               <select name="mediatype" @bind="@itemMediaType" >
                  <option value="DVD">DVD</option>
                  <option value="BluRay">BluRay</option>
                  <option value="VHS">VHS</option>
                  <option value="Digital">Digital</option>
               </select>
               <label for="releasedate">Release Date :</label>
               <input type="date" name="releasedate" @bind="@itemReleaseDate" />
               <label for="publisher">Publisher :</label>
               <input name="publisher" type="text" @bind="@itemPublisher"/>
               <label for="limitededition">Limited Edition :</label>
               <select name="limitededition" @onchange="@((e)=>{itemLimitedEdition=(string)e.Value=="yes";})" >
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
               </select>
               <label for="genres">Genres :</label>
               <div name="genres" class="genreContainer">
                  <select name="firstgenre" @bind="itemGenre1">
                     @foreach (var g in AnimeGenres){
                        <option value=@g>@g</option>
                     }
                  </select>
                  <select name="secondgenre" @bind="itemGenre2" >
                     @foreach (var g in AnimeGenres){
                        <option value=@g>@g</option>
                     }
                  </select>
                  <select name="thirdgenre" @bind="itemGenre3">
                     @foreach (var g in AnimeGenres){
                        <option value=@g>@g</option>
                     }
                  </select>
               </div>
            }
            @if(itemType=="figure"){
               <label for="figuretype">Figure Type :</label>
               <input type="text" name="figuretype" @bind="@itemFigureType"/>
               <label for="from">From :</label>
               <input type="text" name="from" @bind="@itemFrom" />
               <label for="sealed">Sealed :</label>
               <input type="text" name="sealed" @bind="@itemSealed" />
               <label for="agerestricted">18<sup>+</sup> :</label>
               <select name="agerestricted" @onchange="@((e)=>itemAgeRestricted=(string)e.Value=="yes")" >
                  <option value="no">No</option>
                  <option value="yes">Yes</option>
               </select>
            }
            @if(itemType=="manga"){
               <label for="volume">Volume :</label>
               <input type="text" name="volume" @bind="@itemVolume"/>
               <label for="author">Author :</label>
               <input name="author" type="text" @bind="@itemAuthor"/>
               <label for="publisher">Publisher :</label>
               <input name="publisher" type="text" @bind="@itemPublisher"/>
            }
            @if(itemType=="videogame"){
               <label for="platform">Platform</label>
               <select name="platform" @bind="@itemPlatform" >
                  <option value="PS1">PS1</option>
                  <option value="PS2">PS2</option>
                  <option value="PS3">PS3</option>
                  <option value="PS4">PS4</option>
                  <option value="PS5">PS5</option>
                  <option value="NES">NES</option>
                  <option value="SNES">SNES</option>
                  <option value="N64">N64</option>
                  <option value="GC">GC</option>
                  <option value="WII">WII</option>
                  <option value="WIIU">WIIU</option>
                  <option value="SWITCH">SWITCH</option>
                  <option value="SEGAMS">SEGAMS</option>
                  <option value="SEGAGEN">SEGAGEN</option>
                  <option value="32X">32X</option>
                  <option value="SEGADC">SEGADC</option>
                  <option value="PC">PC</option>
                  <option value="GB">GB</option>
                  <option value="GBC">GBC</option>
                  <option value="GBA">GBA</option>
                  <option value="DS">DS</option>
                  <option value="3DS">3DS</option>
               </select>
            }
            <label for="condition">Condition</label>
            <input type="text" name="condition" @bind="@itemCondition"/>
            <button type="button" @onclick="@test">Add Item</button>
            <button type="button" @onclick="@ChangeShowAddItem">Cancel</button>
         </form>
      </div>
   </div>
</div>
@code{
   private string hideWindow="hide";
   private Action changeShowAddItem;
   private string type="anime";
   private string mode="dark";
   private bool show=false;
   [Parameter]
   public bool ShowAddItem{get=>show;
   set{
      show=value;
      if(value)hideWindow="show";
      else hideWindow="hide";
   }}
   [Parameter]
   public string FormMode{get;set;}
   [Parameter]
   public Action ChangeShowAddItem{
      get{
         return ()=>{
            Clear();
            changeShowAddItem();
            ShowAddItem=!ShowAddItem;
         };
      }
      set{
         changeShowAddItem=value;
      }}
   private string itemType{get=>type;set{
      type=value;
      SoftClear();
   }}
   private string itemFigureType{get;set;}
   private string itemName{get;set;}
   private string itemImgPath{get;set;}
   private string itemCondition{get;set;}
   private string itemVolume{get;set;}
   private bool itemSealed{get;set;}
   private bool itemHasCase{get;set;}
   private string itemPlatform{get;set;}
   private string itemGenre1{get;set;}
   private string itemGenre2{get;set;}
   private string itemGenre3{get;set;}
   private string itemPublisher{get;set;}
   private string itemAuthor{get;set;}
   private DateTime itemReleaseDate{get;set;}=DateTime.Now;
   private string itemMediaType{get;set;}
   private bool itemLimitedEdition{get;set;}
   private string itemFrom{get;set;}
   private bool itemAgeRestricted{get;set;}

   private readonly List<string> AnimeGenres = new List<string>{
      "None",
      "Kodomo",
      "Shonen",
      "Shojo",
      "Seinen",
      "Josei",
      "Harem",
      "Rev Harem",
      "Hentai",
      "Romance",
      "Horror",
      "Comedy",
      "Fanatsy",
      "Ecchi",
      "Mecha",
      "Loli",
      "Shota",
      "Isekai",
      "Yaoi",
      "Yuri",
      "Drama",
      "Supernatural",
      "Thriller",
      "Slice of Life",
      "Adventure",
      "Battle",
      "Magic",
   };
   private readonly List<string> VideoGameGenres = new List<string>{
      "None",
      "Platform",
      "Shooter",
      "Beat em Up",
      "Fighting",
      "RPG",
      "JRPG",
      "Sim",
      "Strategy",
      "Sports",
      "MMO",
      "Dating Sim",
      "Gatcha",
      "Idle",
      "Racing",
      "Tower Defense",
      "First-Person",
      "Thrid Person",
      "Real Time",
      "Rougelike",
      "Action",
      "Stealth",
      "Survival",
      "Rhythm",
      "Battle Royal",
   };
   private void SoftClear(){
      itemAgeRestricted=false;
      itemAuthor="";
      itemCondition="";
      itemFrom="";
      itemGenre1="None";
      itemGenre2="None";
      itemGenre3="None";
      itemHasCase=false;
      itemImgPath="";
      itemLimitedEdition=false;
      itemMediaType="DVD";
      itemName="";
      itemPlatform="";
      itemPublisher="";
      itemReleaseDate=DateTime.Now;
      itemSealed=false;
      itemVolume="";
   }

   private void Clear(){
      itemType="anime";
      SoftClear();
   }
   
   private void test(){
      Console.WriteLine("Test");
   }
}