@using CollectionApp.Models;
@using System.Text.Json;
@inject ListUpdateService ListUpdater
@inject IHttpClientFactory _clientFactory


<div class="itemDisplayWrapper">
   @if(LoggedIn){
         <div class="confirmDeleteContainer @showConfirmDeleteSlide" @onclick="@changeShowConfirmDelete" >
            <div class="confirmDelete @mode" @onclick:stopPropagation>
               <div>
                  Are you sure you wish to delete the @DisplayItem.Type " <i>@details.Name@(DisplayItem.Type=="Manga"&&details.Volume!=null?$" Volume {details.Volume}":"")</i> "?
               </div>
               <div class="buttonDiv">
                  <button type="button" @onclick="@RemoveItem" tabindex=@(showConfirmDeleteSlide == "show"?"0":"-1")>Yes</button>
                  <button type="button" @onclick="@changeShowConfirmDelete" tabindex=@(showConfirmDeleteSlide == "show"?"0":"-1")>No</button>
               </div>
            </div>
         </div>
         <EditItemComponents item="@DisplayItem" details=@details changeShowEdit=@changeShowEdit showEditClass=@showEditClass />
      }
<fieldset class="itemDisplay">
   <legend>@DisplayItem.Type</legend>
   @if(LoggedIn){
      <div class="displayItemButtonContainer">
         <div class="displayItemButtonInner @mode">
            <button type="button" class="displayItemButton editDetailsButton" @onclick=@changeShowEdit tabindex=@(showEditClass=="show"||showConfirmDeleteSlide == "show"?"-1":"0")><i class="fa-solid fa-pen-to-square"></i></button>
            <button type="button" class="displayItemButton deleteItemButton" @onclick="@changeShowConfirmDelete" tabindex=@(showEditClass=="show"||showConfirmDeleteSlide == "show"?"-1":"0")><i class="fa-solid fa-trash-can"></i></button>
         </div>
      </div>
      
   }
   <div class="itemDisplayLeft">
      <img src=@(DisplayItem.ImgPath!=null?DisplayItem.ImgPath:"https://www.freeiconspng.com/uploads/no-image-icon-15.png") class="itemDisplayImage" alt="An image of @details.Name"/>
   </div>
   <div class="itemDisplayRight">
      <div class="valuesContainer">
         @if(@details.Type != null){
            <div class="valueContainer">
               <div class="valueItem valueItemLeft">Type<span> :</span></div>
               <div class="valueItem">@details.Type</div>
            </div>
         }
         <div class="valueContainer">
            <div class="valueItem valueItemLeft">Name<span> :</span></div>
            <div class="valueItem">@details.Name</div>
         </div>
         @if(@details.From != null){
            <div class="valueContainer">
               <div class="valueItem valueItemLeft">From Series<span> :</span></div>
               <div class="valueItem">@details.From</div>
            </div>
         }
         @if(@details.Volume != null){
            <div class="valueContainer">
               <div class="valueItem valueItemLeft">Volume<span> :</span></div>
               <div class="valueItem">@details.Volume</div>
            </div>
         }
         @if(@details.Platform != null){
            <div class="valueContainer">
               <div class="valueItem valueItemLeft">Platform<span> :</span></div>
               <div class="valueItem">@details.Platform</div>
            </div>
         }
         @if(@details.MediaType != null){
            <div class="valueContainer">
               <div class="valueItem valueItemLeft">Media Type<span> :</span></div>
               <div class="valueItem">@details.MediaType</div>
            </div>
         }
         @if(@details.ReleaseDate != null){
            <div class="valueContainer">
               <div class="valueItem valueItemLeft">Release Date<span> :</span></div>
               <div class="valueItem">@details.ReleaseDate</div>
            </div>
         }
         @if(@details.Author != null){
            <div class="valueContainer">
               <div class="valueItem valueItemLeft">Author<span> :</span></div>
               <div class="valueItem">@details.Author</div>
            </div>
         }
         @if(@details.Publisher != null){
            <div class="valueContainer">
               <div class="valueItem valueItemLeft">Publisher<span> :</span></div>
               <div class="valueItem">@details.Publisher</div>
            </div>
         }
         @if(@details.LimitedEdition != null){
            <div class="valueContainer">
               <div class="valueItem valueItemLeft">Limited Edition<span> :</span></div>
               <div class="valueItem">@formatBool(@details.LimitedEdition)</div>
            </div>
         }
         @if(@details.AgeRestricted != null){
            <div class="valueContainer">
               <div class="valueItem valueItemLeft">18<sup>+</sup><span> :</span></div>
               <div class="valueItem">@formatBool(@details.AgeRestricted)</div>
            </div>
         }

         @if(@details.Sealed != null){
            <div class="valueContainer">
               <div class="valueItem valueItemLeft">Sealed<span> :</span></div>
               <div class="valueItem">@formatBool(@details.Sealed)</div>
            </div>
         }
         @if(@details.HasCase != null){
            <div class="valueContainer">
               <div class="valueItem valueItemLeft">Has A Case<span> :</span></div>
               <div class="valueItem">@formatBool(@details.HasCase)</div>
            </div>
         }
         @if(details.Condition!=null){
            <div class="valueContainer">
               <div class="valueItem valueItemLeft">Condition<span> :</span></div>
               <div class="valueItem">@details.Condition</div>
            </div>
         }
         @if(@details.Genres!=null && @details.Genres[0]!=null){
            <div class="valueContainer">
               <div class="valueItem valueItemLeft">Genres<span> :</span></div>
               <div class="valueItem">
                  @foreach(var g in @details.Genres){
                     <div class="genreItem">
                        @g
                     </div>
                  }
                  </div>
            </div>
         }
      </div>
   </div>   
</fieldset>
</div>


@code{
   private string modeBtn;
   private bool showConfirmDelete=false;
   private string showConfirmDeleteSlide="hide";
   public bool showEdit=false;
   public string showEditClass="hide";
   private string mode;
   [CascadingParameter]
   private bool LoggedIn{get;set;}
   [CascadingParameter]
   public string? Mode{get=>mode;set{
      mode=value;
      modeBtn=$"{value}Btn";
   }}
   [Parameter]
   public Item? DisplayItem{get;set;} 
   ItemDetails? details;
  
  private string ApiString="https://localhost:7000/api/Item/";
 
   private string formatBool(bool? b){
      if(b==true)return "Yes";
      return "No";
   }

   private async void RemoveItem(){
      if(DisplayItem==null)return;
      var req=new HttpRequestMessage(HttpMethod.Delete,$"{@ApiString}{@DisplayItem.Id}");
      var Client=_clientFactory.CreateClient();
      HttpResponseMessage res=await Client.SendAsync(req);
      if(res.IsSuccessStatusCode){
         Console.WriteLine("Sucessful Delete of Item.");
         await ListUpdater.Update();
         changeShowConfirmDelete();
      }
   }
   private void changeShowConfirmDelete(){
      showConfirmDelete=!showConfirmDelete;
      showConfirmDeleteSlide=showConfirmDelete?"show":"hide";
   }

   public void changeShowEdit(){
      showEdit=!showEdit;
      showEditClass=showEditClass=="hide"?"show":"hide";
   }
   protected override void OnParametersSet(){
      details=JsonSerializer.Deserialize<ItemDetails>(DisplayItem.Details);
   }



}